<div class="cover">
    <img src="img/about_backgound.jpg" class="img-responsive">


    <div class="logo logo-flutuante">
        <img src="img/logo_clean.png" class="img-responsive" width="857" height="190">

        <div class="about-content" >
            <p class="fm-regular fm-d-small fm-space-low">Art Director / Designer from Brazil, 30 years old. I work with Graphic Design, 3D and PDV.I’ve worked with BRF – Brasil Foods (Batavo, Elegê, Sadia e Perdigão), AMBEV (Guaraná, Skol e Antártica), Pepsico, LVMH (Chandon, Belvedere e Veuve Clicquot), Interfood (Santa Helena), Brown Forman (Jack Daniel´s). The melodies of the musics and urban landscapes are my main sources of inspiration.</p>

            <p>Along this journey , I won 2 gold and 1 silver at the Brazilian Festival of Promotion , Trade Marketing , Events and Design.</p>

            <p>The melodies of the musics and urban landscapes are my main sources of inspiration.</p>

            <p></p>
            <p class="fm-bold fm-high">I WOULD LIKE RO HEAR FROM YOU</p>
            <p class="fm-regular fm-italic fm-medium">FREELANCE, JOB OFFER OR EVEN A COFFE.</p>
            <p class="fm-regular fm-italic fm-medium">SÃO PAULO - BRAZIL - CONTATO@CARLOSVILELA.COM.BR - +55 (11) 97314-1750</p>
        </div>
    </div>
</div>
