<div class="cover">
    
<div id="OAbout">
    <div id="Face">
        <img src="img/face.png">
    </div>

    <div id="About">
        <div id="About_Logo">
            <img src="img/logo_name.png">
        </div>
        <div id="AboutTxtOpen">
            <p>Art Director / Designer from Brazil, 30 years old. I work with Graphic Design, 3D and PDV.I’ve worked with BRF – Brasil Foods (Batavo, Elegê, Sadia and Perdigão), AMBEV (Guaraná, Skol and Antártica), Pepsico, LVMH (Chandon, Belvedere and Veuve Clicquot), Interfood (Santa Helena), Brown Forman (Jack Daniel´s and Finlandia) and JBS (Friboi and Swift).</p>

            <p>Along this journey , I won 2 gold and 1 silver at the Brazilian Festival of Promotion , Trade Marketing , Events and Design.</p>

            <p>The melodies of the musics and urban landscapes are my main sources of inspiration.</p>
        </div>
        <div id="AboutChamada">
            I would like to hear from you
        </div>
        <div id="AboutMais">
            Freelance, job offer or even a coffee.
        </div>
        <div id="AboutContato">
            São paulo - brazil   -   contato@carlosvilela.com.br   -   +55 (11) 97314-1750
        </div>
    </div>
    <div id="Clear"></div>
</div>

</div>
