<div class="container" >
    <div class="container" >
        <div class="logo">
            <img src="img/logo.png">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>CONTACT</h1>
            <map  center="[-23.6266197,-46.6337045]"   >
                <marker
                    position="[-23.6266197,-46.6337045]"
                    title="I'm Here!!!"
                    animation="Animation.BOUNCE"
                    draggable="true"
                    visible="true"
                   ></marker>
            </map>
        </div>
        <div class="col-md-6">
            <h1>I WOULD LIKE TO HEAR FROM YOU</h1>
            <p class="p-with">FREELANCE, JOB OFFER OR EVEN A COFFE</p>
            <form>
                <div class="form-group">
                    <input type="name" class="form-control" id="exampleInputName" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10" placeholder="Text"></textarea>
                </div>
                <div class="form-group">
                    <div class="row" >
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                        <div class="col-xs-1">
                            <a href="https://twitter.com/carlosvilela_" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                        </div>
                        <div class="col-xs-1">
                            <a href="http://br.linkedin.com/in/cvilela" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                        </div>
                        <div class="col-xs-1">
                            <a href="https://www.facebook.com/vileladesigner" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        </div>
                        <div class="col-xs-1">
                            <a href="https://www.pinterest.com/carlosvilela"  target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
                        </div>
                        <div class="col-xs-1">
                            <a href="https://www.behance.net/cvilela"  target="_blank"><i class="fa fa-behance fa-2x"></i></a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
