<div class="footer" >
    <a  href="#/portifolio/detail/batavinho" >
        <div class="f-preview f-left">
            <div class="f-arrow "><div><img src="img/seta_esq.png"></div></div>
            <div id="PrevImagem" style="background-image: url('img/portifolio/thumblr_{{id}}.png')">
                <div id="TituloPrevProj">HOME</div>
            </div>
        </div>
    </a>
    <div class="f-container f-container-center">
        <div class="f-container-content">
            <div class="foo-left">
                <div class="f-center">
                    <p class="fm-light fm-small fm-italic fm-space-low" >{{item.type}}</p>
                    <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >{{item.name}}</p>
                    <p class="fm-light fm-medium fm-italic fm-space-low">{{item.title}}</p>
                </div>
            </div>
            <div id="LinhaSepProj"><img src="img/divisao.png"></div>
            <div class="foo-right">
                <div id="AboutProj">
                    <div id="TitAbout">ABOUT</div>
                    <div id="TxtAbout">
                        {{item.about}}
                    </div>
                </div>
            </div>
            <div id="LinhaSepProj"><img src="img/divisao.png"></div>
            <div class="foo-right">
                <div id="FichaProj">
                    AGENCY: <span class="dadoFicha">{{item.agency}}</span><br>
                    CLIENT: <span class="dadoFicha">{{item.client}}</span><br>
                    ROLE: <span class="dadoFicha">{{item.role}}</span><br>
                    FARM EVA: <span class="dadoFicha">{{item.farmEva}}</span>
                </div>
            </div>
        </div>
    </div>
    <a  href="#/portifolio/detail/riunite" >
        <div class="f-preview f-right">
            <div class="f-arrow"><div><img src="img/seta_dir.png"></div></div>
            <div id="NextImagem" style="background-image: url('jobs/riunite-best-way/thumb.jpg')">
                <div id="TituloNextProj">Riunite Best way</div>
            </div>
        </div>
    </a>
</div>
<div class="cover">
    <img ng-src="img/portifolio/{{id}}/cover.jpg">
</div>
<div class="dust-cover">
    <img ng-src="img/portifolio/{{id}}/dust-cover.jpg">
</div>
<!--
<div class="slide-animate" ng-include="item.url"></div>
-->
