<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="../css/fonts.css">
<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" >
<style>
    .footer {
        position: absolute;
        width: 100%;
        top: 37%;
        color: #FFF;
    }
    .f-center{
        text-align: center;
    }
    .f-inlb{
        display: inline-flex!important;
    }
    .footer img {
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-default{
        background: #08213f;
        opacity: 0.90;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="center-block">
            <img class="img-responsive center-block" src="../img/portifolio/topo/topo_riunite.jpg">
        </div>
    </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="footer f-center">
                <p class="fm-light fm-small fm-italic fm-space-low" >ADVERTISING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >RIUNITE</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">BEST WAY</p>
            </li>

        </ul>
        <ul class="nav navbar-nav">
            <li class="footer"><img src="../img/divisao.png"></li>
        </ul>
        <ul class="nav navbar-nav" style="max-width: 25%">
            <li class="footer">
                <p class="fm-regular fm-d-medium">ABOUT:</p>
                <p class="fm-light fm-d-small fm-italic">RIUNITE É UM ESPUMANTE QUE TINHA RECEM-CHEGADO AO BRASIL E TINHA O DESAFIO DE DEMONTRAR QUE A MELHOR FORMA DE APRECIAR A BEBIDA SERIA GELADA. COM ISSO CRIEI A PROPAGANDA, TROCANDO A GARRAFA PELO CUBO DE GELO COMO SOLUÇÃO.</p>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="footer"><img src="../img/divisao.png"></li>
        </ul>
        <ul class="nav navbar-nav" >
            <li class="footer">
                <p class="fm-regular fm-d-medium ">AGENCY: </p><p class="fm-light fm-d-medium fm-italic ">AGEVOLE</p>
            </li>
            <li class="footer ">
                <p class="fm-regular fm-d-medium ">CLIENT: </p><p class="fm-light fm-d-medium fm-italic ">SANTAR</p>
            </li>
            <li class="footer ">
                <p class="fm-regular fm-d-medium ">ROLE: </p><p class="fm-light fm-d-medium fm-italic ">ART DIRECTOR</p>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="footer"><img src="../img/divisao.png"></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="footer">
                <p class="fm-regular fm-d-medium">SHARE:</p> </li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-linkedin"></i></li>

        </ul>
    </div>
</nav>
