    <div class="container" >
        <div class="container" >
            <div class="logo">
                <img src="img/logo.png">
            </div>
        </div>
    </div>
    <div class="diamondswrap">
        <a href="#/portfolio/detail/batavinho" class="item">
            <img src="img/portfolio/thumblr_batavinho.jpg">
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >PDV</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >BATAVINHO</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">É O BICHO</p>
            </div>
        </a>
        <a href="#/portfolio/detail/riunite" class="item"><img src="img/portfolio/thumblr_riunite.jpg">
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >ADVERTISING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >RIUNITE</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">BEST WAY</p>
            </div>
        </a>
        <a href="#/portfolio/detail/twistedlove" class="item"><img src="img/portfolio/thumblr_twistedlove.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >CAMPAING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >BIO RITMO</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">TWISTED LOVE</p>
            </div>
        </a>
        <a href="#/portfolio/detail/bonsonhos" class="item"><img src="img/portfolio/thumblr_bonsonhos.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >CAMPAING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >ELEGÊ</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">BONS SONHOS</p>
            </div>
        </a>
        <a href="#/portfolio/detail/sthelena" class="item"><img src="img/portfolio/thumblr_sthelena.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >PDV</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >ST. HELENA</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">LOUNGE</p>
            </div>
        </a>
        <a href="#/portfolio/detail/jacks" class="item"><img src="img/portfolio/thumblr_jacks.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >DISPLAY</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >JACK'S</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">ISLAND</p>
            </div>
        </a>
        <a href="#/portfolio/detail/frido" class="item"><img src="img/portfolio/thumblr_frido.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >BRANDING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >FRIDO</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">WEAR</p>
            </div>
        </a>
        <a href="#/portfolio/detail/up" class="item"><img src="img/portfolio/thumblr_up.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >BRANDING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >UP</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">PRODUÇÕES</p>
            </div>
        </a>
        <a href="#/portfolio/detail/biokids" class="item"><img src="img/portfolio/thumblr_biokids.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >CAMPAING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >BIO KIDS</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">SWIMMING POOL</p>
            </div>
        </a>
        <a href="#/portfolio/detail/aba" class="item"><img src="img/portfolio/thumblr_aba.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >CAMPAING</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >ABA</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">2014</p>
            </div>
        </a>
        <a href="#/portfolio/detail/carballo" class="item"><img src="img/portfolio/thumblr_carballo.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >STAND</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >CARBALLO</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">SUPER BAHIA</p>
            </div>
        </a>
        <a href="#/portfolio/detail/lounge_jack" class="item"><img src="img/portfolio/thumblr_lounge_jack.jpg"/>
            <div class="itemhover">
                <p class="fm-light fm-small fm-italic fm-space-low" >TAYLOR MADE</p>
                <p class="fm-bold fm-high fm-space0 fm-space-high lightless" >JACK'S</p>
                <p class="fm-light fm-medium fm-italic fm-space-low">LOUNGE</p>
            </div>
        </a>
    </div>
