<div class="video">
    <div >
        <!--<iframe src="https://player.vimeo.com/video/103243474?title=0&byline=0&portrait=0"  width="640" height="480"  frameborder="0" ></iframe>-->
        <iframe src="https://player.vimeo.com/video/103243474" width="720" height="480" frameborder="0" ></iframe>
    </div>
</div>
<div id="MosaicoProjetos">
    <div id="container_mosaico" ng-init="packeryInit()">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <div class="grid-sizerheight"></div>
        <div class="item item_3_2">
            <img src="img/portfolio/aba/imagens/foto00.jpg">
        </div>
        <div class="item item_1_2">
            <img src="img/portfolio/aba/imagens/foto01.jpg">
        </div>
        <div class="item item_2_2">
            <img src="img/portfolio/aba/imagens/foto02.jpg">
        </div>
        <div class="item item_2_2">
            <img src="img/portfolio/aba/imagens/foto03.jpg">
        </div>
    </div>
</div>
