<div id="MosaicoProjetos">
    <div id="container_mosaico" ng-init="packeryInit()">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <div class="grid-sizerheight"></div>
        <div class="item item_2_3">
            <img src="img/portfolio/riunite/imagens/foto00.jpg">
        </div>
        <div class="item item_2_2">
            <img src="img/portfolio/riunite/imagens/foto01.jpg">
        </div>
        <div class="item item_2_1">
            <img src="img/portfolio/riunite/imagens/foto02.jpg">
        </div>
    </div>
</div>
