
<div id="MosaicoProjetos" style="background:#040c19 none repeat scroll 0 0">
    <div id="image_holder_x" class="item item_2_2" style="float:left;">
        <div class="threesixty obj3d">
            <div class="spinner">
                <span>0%</span>
            </div>
            <ol class="threesixty_images"></ol>
        </div>
    </div>
    <div class="item item_2_2" style="float:left; margin-left: 2%;">
        <img src="img/portfolio/sthelena/imagens/foto00.jpg">
    </div>

    <div id="Clear"></div>

    <div id="container_mosaico" ng-init="packeryInit(); Init3D();" style="margin-top: 2%;">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <div class="grid-sizerheight"></div>
        
        <div class="item item_1_2">
            <img src="img/portfolio/sthelena/imagens/foto01.jpg">
        </div>
        <div class="item item_2_2">
            <img src="img/portfolio/sthelena/imagens/foto02.jpg">
        </div>
        <div class="item item_1_1">
            <img src="img/portfolio/sthelena/imagens/foto03.jpg">
        </div>
        <div class="item item_1_1">
            <img src="img/portfolio/sthelena/imagens/foto04.jpg">
        </div>
        <div class="item item_1_1">
            <img src="img/portfolio/sthelena/imagens/foto05.jpg">
        </div>
        <div class="item item_1_1">
            <img src="img/portfolio/sthelena/imagens/foto06.jpg">
        </div>
        <div class="item item_1_1">
            <img src="img/portfolio/sthelena/imagens/foto07.jpg">
        </div>
        <div class="item item_1_1">
            <img src="img/portfolio/sthelena/imagens/foto08.jpg">
        </div>
    </div>
</div>
