@font-face {
    font-family: 'montserratblack';
    src: url('../font/montserrat/Montserrat-Black.otf');
}

@font-face {
    font-family: 'montserratbold';
    src: url('../font/montserrat/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'montserrathairline';
    src: url('../font/montserrat/Montserrat-Hairline.otf');
}

@font-face {
    font-family: 'montserratlight';
    src: url('../font/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: 'montserratregular';
    src: url('../font/montserrat/Montserrat-Regular.otf');
}

span.fm  {
}
p.fm-bold {
    font-family: montserratbold;
}

p.fm-hairline  {
    font-family: montserrathairline;
}

p.fm-light  {
    font-family: montserratlight;
}
p.fm-regular  {
    font-family: montserratregular;
}
p.fm-small {
    font-size: 12pt;
}
p.fm-medium {
    font-size: 18pt;
}
p.fm-high {
    font-size: 25pt;
}
p.fm-italic {
    font-style: italic;
}

p.fm-d-small {
    font-size: 12pt;
}
p.fm-d-medium {
    font-size: 15pt;
}

p.fm-space-low {
    letter-spacing: 5px;
}
p.fm-space-high {
    letter-spacing: 8px;
}
p.lightless {
    margin-top: 2px;
    margin-bottom: 2px;
}

p.p-with{
    color: #FFFFFF;
}
