.footer {
    background-image: url(../img/bg_base_proj.png);
    bottom: 0;
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 1000;
    height: 170px;
}
.f-left, .f-right {
    top: 0;
    z-index: 50;
}
.f-container {
    position: relative;
}
.f-container-center {
    left: 50%;
    margin-left: -460px;
    position: absolute;
    width: 860px;
}
.f-container-content {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%}
.f-preview {
    cursor: pointer;
    position: absolute;
    height: 100%}
.f-left {
    left: 0;
}
.f-preview.f-left:hover #PrevImagem {
    margin-left: 0;
}
.f-right {
    right: 60px;
}
.f-preview.f-right:hover #NextImagem {
    margin-left: -221px;
}
.f-arrow {
    background: #2768ae;
    height: 100%;
    padding-left: 5px;
    padding-right: 8px;
    z-index: 10;
    display: table;
}
.f-arrow>div {
    vertical-align: middle;
    display: table-cell;
}
.foo-center, .foo-right {
    float: left;
    display: table;
}
.f-arrow>div>img {
    width: 6px;
}
.f-center {
    color: #fff;
    margin-top: 28px;
    text-align: center;
}
.f-left {
    text-align: left;
}
.foo-ul li.line {
    width: auto;
}
.foo-ul li>ul>li {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    max-width: none;
}
#NextArrow, #PrevArrow {
    padding-left: 5px;
    padding-right: 8px;
}
.footer img {
    margin-left: 5px;
    margin-right: 5px;
}
.foo-left {
    float: left;
    position: relative;
    width: 290px;
}
.foo-right {
    color: #fff;
    height: 116px;
    font-family: montserratbold;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 27px;
    margin-top: 13px;
    position: relative;
    width: 225px;
}
#TitAbout, #TituloNextProj, #TituloPrevProj {
    font-family: montserratregular;
}
#Clear {
    clear: both;
}
#BaseProjeto {
    background-image: url(../img/bg_base_proj.png);
    bottom: 0;
    position: fixed;
    width: 100%}
#NextProj, #PrevArrow, #PrevProj {
    z-index: 10;
    height: 100%;
    position: absolute;
}
#PrevProj {
    left: 0;
    cursor: pointer;
}
#NextProj {
    right: 0;
    cursor: pointer;
}
#PrevProj:hover #PrevImagem {
    margin-left: 18px;
}
#PrevArrow {
    background: #2768ae;
    padding-top: 54px;
}
#NextArrow img, #PrevArrow img {
    width: 6px;
}
#PrevImagem {
    background-position: center;
    background-size: cover;
    margin-left: -350px;
    transition: all .5s ease;
}
#NextImagem, #PrevImagem {
    position: absolute;
    height: 100%;
    width: 250px;
    top: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
#TituloNextProj, #TituloPrevProj {
    background-color: #01081e;
    font-size: 12px;
    bottom: 0;
    color: #fff;
    font-style: italic;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    text-align: center;
    width: 250px;
    text-transform: uppercase;
}
#NextProj:hover #NextImagem {
    margin-right: 18px;
}
#NextArrow {
    background: #2768ae;
    height: 100%;
    padding-top: 54px;
    position: absolute;
    right: 0;
    z-index: 10;
}
#NextImagem {
    background-position: center;
    background-size: cover;
    margin-left: 30px;
    transition: all .5s ease;
}
#SobreProjeto {
    left: 50%;
    position: absolute;
    width: 947px;
}
#TitProjeto {
    float: left;
    margin-top: 15px;
}
#TitProjeto img {
    width: 100%}
#LinhaSepProj, #LinhaSepProj2 {
    float: left;
    overflow: hidden;
    width: 10px;
    height: 115px;
    background-image: url(../img/divisao.png);
    background-repeat: no-repeat;
    margin: 13px 10px 20px;
}
#ConteudoProjeto img, #TitAbout {
    width: 100%}
#TitAbout {
    float: left;
    font-size: 15px;
    margin-bottom: 10px;
}
#TxtAbout {
    font-family: montserrathairline;
    font-size: 12px;
    font-style: italic;
}
.dadoFicha {
    font-family: montserrathairline;
    font-size: 11px;
    font-style: italic;
}
#ConteudoProjeto {
    background: #030d19;
    padding-bottom: 133px;
}
p.fm-space0 {
    line-height: 0;
}
.foo-center {
    margin-right: 10px;
    width: 270px;
    height: 116px;
    margin-top: 12px;
}
#Video {
    margin-bottom: -6px;
}
.cover, .dust-cover {
    margin-bottom: -5px;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@media screen and (max-width:480px) {
    #TxtAbout, .foo-right {
    font-size: 11px;
}
#LinhaSepProj2, .foo-center {
    background-image: url(../img/divisao.png);
}
#LinhaSepProj {
    display: none;
}
.foo-center, .foo-right {
    float: left;
    display: table;
    height: auto;
}
#AjustaMob {
    clear: both;
}
.foo-right {
    color: #fff;
    font-family: montserratbold;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 13px;
    position: relative;
    width: 152px;
}
.foo-center {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
    width: auto;
    margin-top: 30px;
}
#LinhaSepProj2 {
    background-repeat: no-repeat;
    float: left;
    height: 138px;
    margin: 13px 10px 20px;
    overflow: hidden;
    width: 10px;
    display: none;
}
.f-container-center {
    left: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
}
.foo-left {
    float: none;
    width: 100%;
    margin-top: -13px;
}
.footer {
    height: auto;
    position: relative;
}
.f-left, .f-right {
    height: 150px;
}
.f-container-content {
    padding-bottom: 0;
    padding-top: 20px;
    width: 100%}
.f-right {
    right: 0;
}
#Video iframe {
    height: 309px;
    width: 100%}

.foo-right {
    margin-top: 0;
    padding: 10px;
    width: auto;
}

p.fm-high {
    font-size: 22px;
}

p.fm-small {
    font-size: 12px;
    margin-bottom: 15px;
}

p.fm-medium {
    font-size: 17px;
}

.f-center {
    color: #fff;
    margin-top: 40px;
    text-align: center;
}



}
@media screen and (min-width:1024px) {
    #TxtAbout {
    font-size: 11px;
}
#Video iframe {
    height: 689px;
    width: 100%}
}
@media screen and (min-width:1280px) {
    #TxtAbout {
    font-size: 12px;
}
.f-container-center {
    margin-left: -540px;
    width: 1030px;
}
.foo-center {
    width: 430px;
}
#Video iframe {
    height: 929px;
    width: 100%}
}
@media screen and (min-width:1366px) {
    #Video iframe {
    height: 1039px;
    width: 100%}
}
@media screen and (min-width:1600px) {
    #Video iframe {
    height: 1219px;
    width: 100%}
}
@media screen and (min-width:1920px) {
    #Video iframe {
    height: 1399px;
    width: 100%}
}
@media screen and (min-width:2560px) {
    #Video iframe {
    height: 1444px;
    width: 100%}
}