/* A footer css */
.footer{
    background-image: url("../img/bg_base_proj.png");
    bottom: 0;
    position: fixed;
    width: 100%;
    opacity: 1;
    z-index: 1000;
    height: 170px;
}
.f-container {
    position: relative;
}
.f-container-center {
    left: 50%;
    margin-left: -460px;
    position: absolute;
    width: 860px;
}
.f-container-content {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

/* Preview */
.f-preview {
    cursor: pointer;
    position: absolute;
    height: 100%;
}
.f-left {
    left: 0;
    top: 0px;
    z-index: 50;
}
.f-preview.f-left:hover #PrevImagem{
    margin-left: 0px;
}
.f-right {
    right: 60px;
    top: 0;
    z-index: 50;
}
.f-preview.f-right:hover #NextImagem{
    margin-left: -221px;
}
.f-arrow {
    background: #2768ae;
    height: 100%;
    padding-left: 5px;
    padding-right: 8px;
    z-index: 10;
    display: table;
}
.f-arrow > div {
    vertical-align: middle;
    display: table-cell;
}
.f-arrow > div > img{
    width: 6px;
}
.f-center {
    color: #fff;
    margin-top: 28px;
    text-align: center;
}

/* central content  */
.f-left{
    text-align: left;
}
.foo-ul li.line {
    width: auto;
}
.foo-ul li > ul > li {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    max-width: none;
}
.footer img {
    margin-left: 5px;
    margin-right: 5px;
}
.foo-left {
    float: left;
    position: relative;
    width: 290px;
}
.foo-right {
    color: #ffffff;
    display: table;
    height: 116px;
    float: left;
    font-family: "montserratbold";
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 27px;
    margin-top: 13px;
    position: relative;
    width: 225px;
}

#Clear{
    clear: both;
}

#BaseProjeto{
    background-image: url("../img/bg_base_proj.png");
    bottom: 0;
    position: fixed;
    width: 100%;
}

#PrevProj{
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

#NextProj{
    height: 100%;
    right: 0;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

#PrevProj:hover #PrevImagem{
    margin-left: 18px;
}

#PrevArrow{
    background: #2768ae;
    height: 100%;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 54px;
    position: absolute;
    z-index: 10;
}
#PrevArrow img{width: 6px;}
#PrevImagem{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 250px;
    top: 0;
    position: absolute;
    margin-left: -350px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#PrevImagem img{}
#TituloPrevProj{
    background-color: #01081e;
    font-size: 12px;
    bottom: 0;
    color: #ffffff;
    font-family: "montserratregular";
    font-style: italic;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    text-align: center;
    width: 250px;
    text-transform: uppercase;
}


#NextProj:hover #NextImagem{
    margin-right: 18px;
}

#NextArrow{
    background: #2768ae;
    height: 100%;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 54px;
    position: absolute;
    right: 0;
    z-index: 10;
}
#NextArrow img{
    width: 6px;
}
#NextImagem{
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 250px;
    margin-left: 30px;
    top: 0;
    position: absolute;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#NextImagem img{}

#TituloNextProj{
    background-color: #01081e;
    font-size: 12px;
    bottom: 0;
    color: #ffffff;
    font-family: "montserratregular";
    font-style: italic;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    text-align: center;
    width: 250px;
    text-transform: uppercase;
}

#SobreProjeto{
    left: 50%;
    position: absolute;
    width: 947px;
}
#TitProjeto{
    float: left;
    margin-top: 15px;
}
#TitProjeto img{ width: 100%;}
#LinhaSepProj{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 13px;
    overflow: hidden;
    width: 10px;
    height: 115px;
    background-image: url("../img/divisao.png");
    background-repeat: no-repeat;
}

#LinhaSepProj2{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 13px;
    overflow: hidden;
    width: 10px;
    height: 115px;
    background-image: url("../img/divisao.png");
    background-repeat: no-repeat;
}


#TitAbout{
    float: left;
    font-family: "montserratregular";
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%;

}
#TxtAbout{
    font-family: "montserrathairline";
    font-size: 12px;
    font-style: italic;
}
.dadoFicha{
    font-family: 'montserrathairline';
    font-size: 11px;
    font-style: italic;
}



#ConteudoProjeto{
    background: none repeat scroll 0 0 #030d19;
    padding-bottom: 133px;
}
#ConteudoProjeto img{ width: 100%;}

p.fm-space0 {
    line-height: 0;
}

.foo-center{
    float: left;
    margin-right: 10px;
    width: 270px;
    display: table;
    height: 116px;
    margin-top: 12px;
}
#Video{ margin-bottom: -6px;}

.cover{margin-bottom: -5px;}
.dust-cover{margin-bottom: -5px;}

/**
 * Media Queries
 * -----------------------------------------------------------------------------
 */

@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

@media screen and (max-width: 480px){
    #LinhaSepProj {
        display: none;
    }
    #AjustaMob{clear: both;}
    #TxtAbout {
        font-size: 11px;
    }

    .foo-right {
    color: #ffffff;
    display: table;
    float: left;
    font-family: "montserratbold";
    font-size: 11px;
    height: auto;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 13px;
    position: relative;
    width: 152px;
}

    .foo-center {
        background-image: url("../img/divisao.png");
        background-position: right center;
        background-repeat: repeat-y;
        display: table;
        float: left;
        height: auto;
        margin: 12px 20px 20px -10px;
        padding-right: 20px;
        width: 170px;
    }

    #LinhaSepProj2 {
        background-image: url("../img/divisao.png");
        background-repeat: no-repeat;
        float: left;
        height: 138px;
        margin: 13px 10px 20px;
        overflow: hidden;
        width: 10px;
        display: none;
    }

    .f-container-center {
        margin-left: -166px;
        position: relative;
        width: 355px;
    }

    .foo-left {
    float: none;
    width: 357px;
    }

    .footer {
        height: auto;
        position: relative;
    }

    .f-container-content {
    padding-bottom: 0;
    padding-top: 20px;
    width: 100%;
    }

    .f-left {
    height: 150px;
    }
    .f-right {
    height: 150px;
    right: 0px;
    }
    #Video iframe {
    height: 309px;
    width: 100%;
}
}

@media screen and (min-width: 1024px){
#TxtAbout {
    font-size: 11px;
}
#Video iframe {
    height: 689px;
    width: 100%;
}
}

@media screen and (min-width: 1280px){
#TxtAbout {
    font-size: 12px;
}
.f-container-center {
    margin-left: -540px;
    width: 1030px;
}

.foo-center {
    width: 430px;
}

#Video iframe {
    height: 929px;
    width: 100%;
}

}
@media screen and (min-width: 1366px) {
    #Video iframe {
        height: 989px;
        width: 100%;
    }
}

@media screen and (min-width: 1366px) {
    #Video iframe {
    height: 1039px;
    width: 100%;
    }
}




@media screen and (min-width: 1600px) {
    #Video iframe {
    height: 1159px;
    width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    #Video iframe {
        height: 1219px;
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    #Video iframe {
        height: 1399px;
        width: 100%;
    }
}


@media screen and (min-width: 2560px) {
    #Video iframe {
        height: 1444px;
        width: 100%;
    }
}



/**
 * 12.0 Print
 * -----------------------------------------------------------------------------
 */

@media print {} .echo {

}
