
.cover img {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.dust-cover > img {
    width: 100%;
}
div.portifolio-content {
    width: 1800px;
    float: left;
    position: absolute;
    vertical-align: top;
}


div.portifolio-content  span {
    display: inline-block;
    position: relative;
}
div.portifolio-content img{
    width: 70%;
}
