.cover img {
    width: 100%;
}
.dust-cover > img {
    width: 100%;
}
div.portifolio-content {
    width: 1800px;
    margin: 1%;
    float: left;
    position: absolute;
    vertical-align: top;
}


div.portifolio-content  span {
    display: inline-block;
    padding: 1%;
    position: relative;
}
div.portifolio-content img{
    width: 70%;
}
