.main {


}
.main p {
    font-size: .9em;
    line-height: 1.2em;
}

.faixa {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 60px;
    height: 100%;
    padding: 0;
    background: #08213f;
}

.faixa ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.faixa li {
    margin-left: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.faixa li a {
    color: #FFF;
}

.faixa li a div:hover {
    background-color:  #2d9bff;
}

.faixa li a:focus{

}

.faixa img{
    vertical-align: middle;
}
.faixa-top {
    position: absolute;
    top: 0;
}
.faixa-middle {
    position: absolute;
    top: 25%;
}

.faixa-middle a > div {
    height: 55px;
}

.faixa-middle a > div > img, .faixa-middle a > div > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 60px;
    z-index: 1;
    width: 170px;
    height: 100%;
    opacity: 0.6;
    background: #3f5394;
}
menu > ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}
menu > ul > li {
    margin-left: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}
menu li a {
    font-size: 18px;
    display: block;
    color: #FFF;
}
menu li a:hover {
    color:  #2d9bff;
    text-decoration: none;
}

a:hover , header a:hover{
    color: #FFF;
    text-decoration: none;
}

menu li a:focus{
    color: #2d9bff;
}

header a:focus{
    color: #FFF;
}


/*
    Aqui você esconde o menu para fora da tela
    O valor é exatamente a largura da sidebar
*/
menu {
    -webkit-transform: translateX(-170px);
    -moz-transform: translateX(-170px);
    -ms-transform: translateX(-170px);
    transform: translateX(-170px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

/*
    Essa é a posição original do HEADER e do MAIN
*/
header, .main {
    -webkit-transform: translateX(60);
    -moz-transform: translateX(60);
    -ms-transform: translateX(60);
    transform: translateX(60);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menu-active header,
.menu-active .main {
    -webkit-transform: translateX(170px);
    -moz-transform: translateX(170px);
    -ms-transform: translateX(170px);
    transform: translateX(170px);
}
.logo {
    padding-bottom: 8%;
    padding-top: 8%;
    text-align: center;
}


.faixa-middle div.social {
    height: 64px;
}

.faixa-middle div.social ul{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div.social ul li {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}


