<!DOCTYPE html>
<html  class="no-js" ng-app="carlosvilela">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="This is a Carlos Vilela Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <title>Carlos Vilela Portfolio</title>
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" >-->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="bower_components/threesixty-slider/src/styles/threesixty.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/slidemenumobile.css">
    <link rel="stylesheet" href="css/diamonds.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/portifolio-detail.css">
    <link rel="stylesheet" href="css/portfolio.css">

    <meta id="viewport" name='viewport'>
    <script>
/*    (function(doc) {
        var viewport = document.getElementById('viewport');
            if ( naviga}tor.usererAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)|| navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/Linux/i) || navigator.userAgent.match(/CriOS/i) || navigator.userAgent.match(/Windows Phone/i)) {
                viewport.setAttribute("content", "width=480px, user-scalable=1");
            }else if ( navigator.userAgent.match(/iPad/i) ) {
                viewport.setAttribute("content", "width=1280px, initial-scale=1, maximum-scale=1, user-scalable=0");
            }

            /!*alert(navigator.userAgent)*!/
        }(document));*/
    </script>
</head>

<body ng-controller="CarlosvilelaCtrl">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<menu ng-controller="MenuCtrl">
    <ul class="faixa-middle">
        <li><a ng-href="#/portfolio" ng-click="togglemenu()"><div><p class="fm-regular fm-italic fm-space-low">PORTFOLIO</p></div></a></li>
        <li><a ng-href="#/about" ng-click="togglemenu()"><div><p class="fm-regular fm-italic fm-space-low">ABOUT</p></div></a></li>
        <li>
            <div class="social">
                <ul >
                    <li><a href="http://br.linkedin.com/in/cvilela" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.facebook.com/vileladesigner" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/carlosvilela_" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.behance.net/cvilela"  target="_blank"><i class="fa fa-behance"></i></a> </li>
                    <li><a href="https://www.pinterest.com/carlosvilela"  target="_blank"><i class="fa fa-pinterest"></i></a> </li>
                </ul>
            </div>
        </li>
    </ul>
</menu>
<div class="faixa">
    <ul class="faixa-top">
        <li ><a href="" class="toggle-nav"><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
    <ul class="faixa-middle">
        <li><a ng-href="#/portfolio" title="Portfolio"><div><img src="img/port.png"></div></a></li>
        <li><a ng-href="#/about" title="About"><div><img src="img/about.png"></div></a></li>
        <li ><a href="" class="toggle-nav" title="Social"><div class="social"><img src="img/social.png"></div></a></li>
    </ul>
</div>
<section class="main"  >
<!-- Content Body -->
    <div ui-view class="view-animation" ></div>
<!-- Content Body -->
</section>
<!--<script type="text/javascript" src="bower_components/zepto/zepto.min.js"></script>-->
<script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="bower_components/jquery.lazyload/jquery.lazyload.js"></script>
<script type="text/javascript" src="bower_components/packery/dist/packery.pkgd.min.js"></script>
<script type="text/javascript" src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="bower_components/threesixty-slider/dist/threesixty.min.js"></script>
<script type="text/javascript" src="js/vendor/jquery.diamonds.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type='text/javascript' src='js/jquery.reel.js' ></script>
<script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
   /* (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
*/


    /*
     * Normalized hide address bar for iOS & Android
     * (c) Scott Jehl, scottjehl.com
     * MIT License
     */
    /*  (function( win ){
     var doc = win.document;

     // If there's a hash, or addEventListener is undefined, stop here
     if( !location.hash && win.addEventListener ){

     //scroll to 1
     window.scrollTo( 0, 1 );
     var scrollTop = 1,
     getScrollTop = function(){
     return win.pageYOffset || doc.compatMode === "CSS1Compat" && doc.documentElement.scrollTop || doc.body.scrollTop || 0;
     },

     //reset to 0 on bodyready, if needed
     bodycheck = setInterval(function(){
     if( doc.body ){
     clearInterval( bodycheck );
     scrollTop = getScrollTop();
     win.scrollTo( 0, scrollTop === 1 ? 0 : 1 );
     }
     }, 15 );

     win.addEventListener( "load", function(){
     setTimeout(function(){
     //at load, if user hasn't scrolled more than 20 or so...
     if( getScrollTop() < 20 ){
     //reset to hide addr bar at onload
     win.scrollTo( 0, scrollTop === 1 ? 0 : 1 );
     }
     }, 0);
     } );
     }
     })( this );*/

</script>
</body>
</html>
